# MassQL

In [ ]:
!pip install massql

In [1]:
from massql import msql_engine

#results_df = msql_engine.process_query(input_query, input_filename)

In [2]:
help(msql_engine.process_query)

Help on function process_query in module massql.msql_engine:

process_query(
    input_query,
    input_filename,
    path_to_grammar=None,
    cache=None,
    cache_dir=None,
    cache_file=None,
    parallel=False,
    ms1_df=None,
    ms2_df=None
)
    Process an actual query

    Args:
        input_query ([type]): [description]
        input_filename ([type]): [description]
        path_to_grammar ([type], optional): [description]. Defaults to None.
        cache (bool, optional): [description]. Defaults to True.
        parallel (bool, optional): [description]. Defaults to False.
        ms1_df ([type], optional): [description]. Defaults to None. Pass in if you have these data in memory
        ms2_df ([type], optional): [description]. Defaults to None. Pass in if you have these data in memory

    Returns:
        query results data frame: [description]

In [3]:
msql_engine.process_query('QUERY scaninfo(MS2DATA) WHERE MS2PROD=227.0657:TOLERANCEPPM=30', 'specs_ms.mgf')

TOTAL QUERIES 1

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 48.63it/s]

parsed_dict {
    "querytype": {
        "function": "functionscaninfo",
        "datatype": "datams2data"
    },
    "conditions": [
        {
            "type": "ms2productcondition",
            "value": [
                227.0657
            ],
            "conditiontype": "where",
            "qualifiers": {
                "type": "qualifier",
                "qualifierppmtolerance": {
                    "name": "qualifierppmtolerance",
                    "unit": "ppm",
                    "value": 30.0
                }
            }
        }
    ],
    "query": "QUERY scaninfo(MS2DATA) WHERE MS2PROD=227.0657:TOLERANCEPPM=30"
}

    scan  precmz  ms1scan  rt  charge       i  i_norm  mslevel  i_norm_ms1
0     35       0        0   0       1  7179.4     1.0        2         NaN
1  19140       0        0   0       1  1686.5     1.0        2         NaN
2  28186       0        0   0       1   912.6     1.0        2         NaN

In [4]:
results_df = msql_engine.process_query('QUERY scaninfo(MS2DATA)', 'specs_ms.mgf')

TOTAL QUERIES 1

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 23.95it/s]

parsed_dict {
    "querytype": {
        "function": "functionscaninfo",
        "datatype": "datams2data"
    },
    "conditions": [],
    "query": "QUERY scaninfo(MS2DATA)"
}